
////at lesson 
// ul{
//     display: flex;
//     flex-direction: row;}
//     .box{
//         li{
//             opacity: 0;
//             position: absolute;
//             list-style-type: none;
//             margin: 10px;
            
//         }
//         li.selected{
//             opacity: 1;
//         }
//     }
    



//         li{
        
//             color:#5035427a;
//             list-style-type: none;
//             margin: 10px;
//             cursor: pointer;
//         }
    




// .block{
//     width: 100%;
//     height: 200px;
//     background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
// }

// .sel{
//     color:black;
// }



////at lesson end




////homework 1 
// ul{
//     margin:100px 0px 0px 0px;
//     padding: 0px;
//     display: flex;
//     flex-direction: row;
    
// }
// li{
//     border-radius: 22px;
//     padding: 5px 10px 5px 10px ;
//     border: white 1px solid;
//     cursor: pointer;
//     color: white;
//     margin: 20px;
//     list-style-type: none;
// }

// .selected{
    
//     border: white 1px solid;
//     color:orange;

// }

// body{
//     background: linear-gradient(to right, #33ccff 22%, #ff99cc 100%);
// }

////homework 1 end

    
////homework 2

// body{
//     color: #e7daca;
//     background-image: linear-gradient(to left , #e6d6c5, #b99973);
// }
// li{list-style: none;}

// #link{
//     display: flex;
//     flex-direction: row;
//     margin: 0px;
//     margin-top: 100px;
//     padding: 0px;
//     justify-content: center;

//     li{
//         background-color: #9c794d;
//         cursor: pointer;
//         padding: 0px 45px 0px 45px;
//         // border:#795b37 1px solid ;
//         border-radius: 12px 12px 0px 0px ; 
//         margin-bottom: -1px;

//     }
// }

// #lorem{position: relative;
//     height: 50px; 
//     justify-content: center;
//     li{ position: absolute;
//         opacity: 0;
//        }
// }
// .box{
    
//     background-color: #9c794d;
//     // border:#c19a6b 1px solid ;
//     border-radius: 0px 0px 12px 12px; 
//     padding: 20px;
//     margin: auto;
//     justify-content: center;
//     width: 47.7%;

// }
// .selected{
//     color: orange;
//     opacity: 1!important;
// }

////homework 2 end



////homework 3 
// .container{
// //    width: 400px;
//     margin-top: 100px;
//     height: 400px;
//     padding: 0px;
// }
// .box{
//     cursor: pointer;
//     width: 1%;
//     height: 25%;
// }


////homework 3 end



////homework 4 


////homework 4 end